<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JATAirlineReservations</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JATAirlineWebApp.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/009d561cd5.js" crossorigin="anonymous"></script>
    <style>
        /* Updated styles for the video container */
        #video-container {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
        }
        .jatlogo{
            transition: transform 0.3s ease-in-out;
        }
        .jatlogo:hover{
            transform:scale(1.2);
        }

    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="jatlogo" src="~/img/homepageimgs/Logo.png" alt="" style="height:100px;padding-right:10px;" /></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JATAirlineReservations</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style ="color:black;"class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:black;" class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:black;" class=" nav-link " asp-area="" asp-controller="Reservations" asp-action="Index">Reservations</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div id="video-container">
        <video autoplay muted loop poster="">
            <!-- Provide alternative image as a fallback for browsers that do not support video -->
            <source src="/img/whitishbg.mov" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top custom-footer text-muted">
        <div class="container">
            <p><strong>JAT Airlines</strong><br>Join us on our exciting journey of discovery.</p>

            <address>
                <strong>Address:</strong><br>
                126 Main St, Kingston, Jamaica<br>
                Zip Code: JMDEH - 1876<br>
                <abbr title="Phone">P:</abbr> 1(876) 534-6532
            </address>

            <p>Contact us: <i class="fas fa-envelope"></i> <a href="mailto:info@jatairline.com">info@jatairline.com</a></p>

            &copy; 2023 - JATAirline Reservations - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <!--Changes Nav Bar color to white on hover -->
    <script>
        window.onload = function () {
            var navItems = document.querySelectorAll('.navbar-nav li a'); // Grab all the nav items
            var logoutButton = document.querySelector('.nav-link.btn.btn-link'); // Grab the logout button

            navItems.forEach(function (navItem) {
                navItem.addEventListener('mouseenter', function () {
                    this.style.color = 'white';
                });

                navItem.addEventListener('mouseleave', function () {
                    this.style.color = 'black';
                });
            });

            // Add event listeners for the logout button
            logoutButton.addEventListener('mouseenter', function () {
                this.style.color = 'white';
            });

            logoutButton.addEventListener('mouseleave', function () {
                this.style.color = 'black';
            });
        }
    </script>




</body>
</html>
