@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At JAT Airlines, we are committed to protecting your personal information. This Privacy Policy outlines the type of information that is collected by us and how it is used to deliver a better service to you.</p>

<h2>Information Collected</h2>
<ul>
    <li>We may collect names, email addresses, phone numbers, credit card information, date of birth, passport details and travel preferences.</li>
    <li>This allows us to provide a tailored service and targeted advertising.</li>
</ul>
<h2>Sharing Information</h2>
<ul>
    <li>We may share with third parties for marketing purposes.</li>
    <li>Unless required by law, no information will be shared without consent.</li>
</ul>
<h2>Accessing your Information</h2>
<ul>
    <li>You have the right to view the data we have about you.</li>
    <li>You can change or update any inaccuracies.</li>
</ul>
<h2>Security</h2>
<ul>
    <li>Your information is protected by secure SSL encryption.</li>
    <li>Firewall protection on our servers.</li>
</ul>
<h2>Consent</h2>
<ul>
    <li>By using this website, you agree to these terms and conditions of JAT Airlines.</li>
</ul>

